/* =============================================== */
/* CSS Adicional para a Animação Fade-in do JS */
/* =============================================== */

/* Classe para o estado inicial: Imagem transparente e um pouco abaixo */
.fade-in-hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out; /* Define a transição */
}

/* Classe para o estado final: Imagem visível e na posição original */
.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
}