* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #424e61;
    color: white;
    width: 100%;
    padding: 20px;
}

.cabecalho-itens {
    max-width: 1980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho_imagem {
    width: 8%;
}

.titulo_site {
    padding: 0 50px;
    text-align: center;
    width: 50%;
    font-size: 30px;
    cursor: pointer;
}

.sociais {
    display: flex;
    justify-content: flex-end;
    width: 25%;
    gap: 15px;
}

.sociais img {
    width: 40px; /* Tamanho padrão para os ícones sociais */
    height: 40px;
}

.banner1 {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.estudante_titulo {
    padding: 50px;
    text-align: center;
    font-size: 24px;
}

.estudante-nome {
    text-align: center;
    font-size: 18px;
}

.estudante-imagem {
    width: 120px;
    border-radius: 50%;
}

.estudante-icone {
    width: 38px;
    height: 38px;
    padding: 4px 8px;
    margin: 5px;
}

.estudante {
    background-color: #00b81f;
    padding: 24px 0;
    text-align: center;
}

.estudante-div {
    text-align: center;
    padding: 24px 0;
}

.estudantes_todos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.escola {
    background-image: linear-gradient(#40A2E3, #297bb3);
    color: white;
    padding: 24px 0;
    text-align: center;
}

.escola-titulo {
    padding: 50px;
    text-align: center;
}

.logo_rodape {
    height: 80px;
    padding: 12px 0;
}

.link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.link:hover {
    color: #f0f0f0;
}